body, html,.main-background {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
}

.side-information a, .side-information a:visited {
  color: #c5c5c5;
  text-decoration: none;
}

.main-background, .main-page {
  padding: 0.1px;
}

.side-navbar {
  width: 160px;
  height: 100%;
  float: left;
  background-color: #6fbaf8;
  color: white;
  position: fixed;
  transform: translateX(-110px);
  transition: all 1s;
}

.side-navBtn {
  margin: 12px 0 0 15px;
}

.side-navBtn i {
  margin:10px;
  transform: translateX(100px);
  transition: all .7s;
}

.side-navbar:hover {
  transform: translateX(0);
}

.side-navbar:hover i {
  transform: translateX(0);
}

.main-page{
  width: 70%;
  height: 100%;
  margin: auto;
}

.location i {
  float: left;
  margin: 0 5px 0 0;
  color: #6fbaf8;
}

.profile {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.profile-photo {
  flex-grow: 1;
}

.profile-img {
  width: 150px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.profile-information {
  flex-grow: 1;
}

.profile-information li {
  margin: 10px;
}

.follow-box {
  flex-grow: 2;
  text-align: center;
}

.follow-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 17px;
}

.follow-box span {
  margin-bottom: 10px;
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c5c5c5;
}

.onclick-navBtn {
  color: #6fbaf8;
  font-weight: bolder;
  border-bottom: 2px solid #6fbaf8;
}

.navBtn {
  padding: 20px 30px;
}

.navBtn {
  box-sizing: border-box;
}

.main-contents {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-information {
  width: 30%;
  height: 350px;
  margin: 30px 30px 0 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.side-information div {
  margin: 20px;
  word-break: break-all;
}

.main-photos {
  width: 70%;
  height: 350px;
  margin-top: 30px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.slide-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.slide-box img {
  width: 100%;
  margin: auto;
  object-fit: cover;
}

.showing {
  z-index: 1;
  opacity: 1;
}

.block {
  display: none;
}

.user-id {
  font-size: 18px;
  font-weight: bold;
}